//************** post gallito **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="contenedor-post-gallito")
        div(class="row post-gallito-title smB")
            div(class="post-gallito-title-txt") Conoce nuestros principales empleos que tenemos para ti
            div(class="post-gallito-title-borde")
        div(class="post-cuadro row smB")
            div(class="post-cuadro-izquierda  spB")
                div(class="bloque-start")
                    i(class="fa fa-star" aria-hidden="true")
                    span(class="bloque-start-text-origin") Analista de Logística
                div(class="post-cuadro-izquierda-container")
                    div(class="imagen-post-movil")
                        img(src=rutaImagenes+"/HSBC_Mexico.jpeg" class="img-post")
                    div(class="contenedor-post-movile")
                        div(class="bloque-start-nombre") Diego Suárez S.A
                        div(class="bloque-start-texto").
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        div(class="bloque-start-time")
                            i(class="fa fa-clock-o i-reloj" aria-hidden="true")
                            span(class="time-text") hace 2 minutos
                            i(class="fa fa-check-square-o i-check" aria-hidden="true")
                            a(href="#" class="link-post") Producción
                            i(class="fa fa-angle-right i-flecha-derecha" aria-hidden="true")
                            a(href="#" class="link-post") Profesional
            div(class="post-cuadro-derecha spB")
                div(class="contendor-img-post")
                    img(src=rutaImagenes+"/HSBC_Mexico.jpeg" class="img-post")
        div(class="post-cuadro row smB")
            div(class="post-cuadro-izquierda  spB")
                div(class="bloque-start")
                    i(class="fa fa-star" aria-hidden="true")
                    span(class="bloque-start-text-origin") Analista de Logística
                div(class="post-cuadro-izquierda-container")
                    div(class="imagen-post-movil")
                        img(src=rutaImagenes+"/HSBC_Mexico.jpeg" class="img-post")
                    div(class="contenedor-post-movile")
                        div(class="bloque-start-nombre") Diego Suárez S.A
                        div(class="bloque-start-texto").
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        div(class="bloque-start-time")
                            i(class="fa fa-clock-o i-reloj" aria-hidden="true")
                            span(class="time-text") hace 2 minutos
                            i(class="fa fa-check-square-o i-check" aria-hidden="true")
                            a(href="#" class="link-post") Producción
                            i(class="fa fa-angle-right i-flecha-derecha" aria-hidden="true")
                            a(href="#" class="link-post") Profesional
            div(class="post-cuadro-derecha spB")
                div(class="contendor-img-post")
                    img(src=rutaImagenes+"/HSBC_Mexico.jpeg" class="img-post")
        div(class="post-cuadro row bg-white smB")
            div(class="post-cuadro-izquierda  spB")
                div(class="bloque-start")
                    i(class="fa fa-star" aria-hidden="true")
                    span(class="bloque-start-text-origin") Analista de Logística
                div(class="post-cuadro-izquierda-container")
                    div(class="imagen-post-movil")
                        img(src=rutaImagenes+"/HSBC_Mexico.jpeg" class="img-post")
                    div(class="contenedor-post-movile")
                        div(class="bloque-start-nombre") Diego Suárez S.A
                        div(class="bloque-start-texto").
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        div(class="bloque-start-time")
                            i(class="fa fa-clock-o i-reloj" aria-hidden="true")
                            span(class="time-text") hace 2 minutos
                            i(class="fa fa-check-square-o i-check" aria-hidden="true")
                            a(href="#" class="link-post") Producción
                            i(class="fa fa-angle-right i-flecha-derecha" aria-hidden="true")
                            a(href="#" class="link-post") Profesional
            div(class="post-cuadro-derecha spB")
                div(class="contendor-img-post")
                    img(src=rutaImagenes+"/HSBC_Mexico.jpeg" class="img-post")
        div(class="post-cuadro row bg-white smB")
            div(class="post-cuadro-izquierda  spB")
                div(class="bloque-start")
                    i(class="fa fa-star" aria-hidden="true")
                    span(class="bloque-start-text-origin") Analista de Logística
                div(class="post-cuadro-izquierda-container")
                    div(class="imagen-post-movil")
                        img(src=rutaImagenes+"/HSBC_Mexico.jpeg" class="img-post")
                    div(class="contenedor-post-movile")
                        div(class="bloque-start-nombre") Diego Suárez S.A
                        div(class="bloque-start-texto").
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        div(class="bloque-start-time")
                            i(class="fa fa-clock-o i-reloj" aria-hidden="true")
                            span(class="time-text") hace 2 minutos
                            i(class="fa fa-check-square-o i-check" aria-hidden="true")
                            a(href="#" class="link-post") Producción
                            i(class="fa fa-angle-right i-flecha-derecha" aria-hidden="true")
                            a(href="#" class="link-post") Profesional
            div(class="post-cuadro-derecha spB")
                div(class="contendor-img-post")
                    img(src=rutaImagenes+"/HSBC_Mexico.jpeg" class="img-post")
//************** post gallito **************//
